######################
# ignore files
######################
*.userdb/**
*.userdb.old/**
*~
.*~
*userdb/
/build/*
/user.yaml
/installation.yaml
######################
# Logs
######################
*.log
######################
# Others
######################
*.ldb
######################