######################
# ignore files
######################
*.userdb/**
*.userdb.old/**
######################
# Logs
######################
*.log
######################
# Others
######################
*.ldb
